<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @branch.code %>
</p>

<p>
  <strong>Tree:</strong>
  <%= @branch.tree_id %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
