<h2>GEM Traits Data: Import CSV</h2>

<p>Tip: If the csv file is big then try a smaller sample first.</p>

<%= form_tag csv_uploads_path, method: :post, multipart: true do %>
<div class="row">
  <div class="small-10 medium-6 columns">

    <%= select_tag "csv_class", options_from_collection_for_select(@importer_classes, "to_s", "table_human_name") %>

    <%= file_field_tag :file %>
    <% if notice %>
      <div class="panel callout radius">
        <%= notice %>
      </div>
    <% end %>

    <div class="buttons">
      <%= submit_tag "Import", class: "button radius" %>
    </div>  

    <h4>Tables as they currently exist in the database</h4>
    <ul>
      <li><%= link_to "Plots", plots_path %></li>
      <li><%= link_to "Trees", trees_path %></li>
      <li><%= link_to "DBH Measurements", dbh_measurements_path %></li>
      <li><%= link_to "Branches", branches_path %></li>
      <li><%= link_to "Leaves", leaves_path %></li>
      <li><%= link_to "Branch architectures", branch_architectures_path %></li>
      <li><%= link_to "CN Curves", cn_curves_path %></li>
      <li><%= link_to "CN Measurements", cn_measurements_path %></li>
    </ul>

  </div>
</div>
<% end %>

