<%= form_for(@dbh_measurement) do |f| %>
  <% if @dbh_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dbh_measurement.errors.count, "error") %> prohibited this dbh_measurement from being saved:</h2>

      <ul>
      <% @dbh_measurement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tree_id %><br>
    <%= f.text_field :tree_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
