<%= form_for(@tree) do |f| %>
  <% if @tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tree.errors.count, "error") %> prohibited this tree from being saved:</h2>

      <ul>
      <% @tree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tree_code %><br>
    <%= f.text_field :tree_code %>
  </div>
  <div class="field">
    <%= f.label :fp_id %><br>
    <%= f.number_field :fp_id %>
  </div>
  <div class="field">
    <%= f.label :fp_species_id %><br>
    <%= f.number_field :fp_species_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
