<%= form_for(@leaf) do |f| %>
  <% if @leaf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leaf.errors.count, "error") %> prohibited this leaf from being saved:</h2>

      <ul>
      <% @leaf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :branch_id %><br>
    <%= f.number_field :branch_id %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
