<p id="notice"><%= notice %></p>

<p>
  <strong>Branch:</strong>
  <%= @leaf.branch_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @leaf.code %>
</p>

<%= link_to 'Edit', edit_leaf_path(@leaf) %> |
<%= link_to 'Back', leaves_path %>
