<p id="notice"><%= notice %></p>

<p>
  <strong>Import address:</strong>
  <%= link_to @batch.import_address, csv_upload_path(@batch.import_address) %>
</p>

<p>
  <strong>Started:</strong>
  <%= @batch.started %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @batch.finished %>
</p>

<p>
  <strong>Transaction passed:</strong>
  <%= @batch.transaction_passed %>
</p>

<%= link_to 'Back', batches_path %>
